.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    flex: 1;
}

.h1{
    text-align: center;
}

.question_types{
    display: flex;
    gap: 1rem;
}

.question_types > label{
    flex: 1;
}

.question_types > input{
    transform: scale(1.5);
    cursor: pointer;
}

.question_selection_container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #fff;
}

.button{
    all: unset;
    border: 1px solid #fff;
    padding: 1rem 2.5rem;
    text-align: center;
    margin-top: 1rem;
    user-select: none;
}

.main button:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.question_container{
    display: grid;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #fff;
    grid-auto-rows: 1fr;
}

.question{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    padding: 20px;
}

.question > * {
    flex: 1;
}

.question_number{
    display: flex;
    gap: 1rem;
}

.input_answer{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.input_answer button{
    all: unset;
    text-align: center;
    border: 1px solid #fff;
    padding: 0.05rem 1rem;
}

.input_container{
    position: relative;
}

.answer{
    position: absolute;
    top: -20px;
    width: 300px;
}

@media screen and (max-width: 990px) {
    .question{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .answer{
        top: -40px;
        width: 200px;
    }
    .question{
        gap: 3rem;
    }
}