.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  flex: 1;
}

.main h1{
  font-size: 3rem;
  text-align: center;
}

.main button{
  all: unset;
  border: 1px solid #fff;
  padding: 1rem 5rem;
}

.main button:hover{
  color: #000;
  background-color: #fff;
}