.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  flex: 1; 
  text-align: center;
}

.main h1{
  font-size: 3rem;
  text-align: center;
  text-shadow: -1px 0px #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000; 
}

.main button{
  all: unset;
  border: 1px solid #fff;
  background-color: #000000;
  padding: 1rem 5rem;
}

.main button:hover{
  color: #000;
  background-color: #fff;
}